html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0 auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: lightblue; }

main {
  padding-top: 60px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-top: 0; }

.pointer {
  cursor: pointer; }
