.input-group-select {
  width: 15%; }

.select-group {
  width: 100%; }

.no-border-radius {
  border-radius: 0; }

.no-border-right {
  border-right: 0; }

.add-meal {
  font-size: .75em; }

.legend-lg {
  font-size: 1.5em; }
