<div class="col-xs-12 col-md-4 col-md-offset-4" *ngIf="meal">
    <header>
        <h2>{{ title }}</h2>
    </header>
    <fieldset *ngIf="!isMealSaved">
        <legend class="legend-lg">New Meal</legend>
        <div class="input-group select-group">
            <input class="form-control no-border-radius no-border-right" type="text" placeholder="Meal Name" [(ngModel)]="meal.name" />
            <span class="input-group-btn input-group-select">
                <select class="form-control" [(ngModel)]="meal.size">
                    <option value="Large">L</option>
                    <option value="Medium">M</option>
                    <option value="Small">S</option>
                    <option value="Extra Small">XS</option>
                </select>
            </span>
        </div>

        <div class="clearfix"></div>
        <br />
        <div class="pull-right">
            <button class="btn btn-success" type="submit" (click)="saveMeal()">Save Meal</button>
        </div>
    </fieldset>

    <fieldset *ngIf="isMealSaved">
        <legend (click)="addNewMeal()" class="pointer legend-lg">
            <span class="add-meal glyphicon glyphicon-plus-sign"></span>
            New meal
        </legend>

        <h3>{{ meal.name }} - {{ meal.size }}</h3>
        <ingredient-details *ngFor="let ingredient of meal.ingredients" [ingredient]="ingredient"></ingredient-details>
        <div *ngIf="addingIngredient">
            <ingredient [ingredient]="ingredient"></ingredient>
            <span class="save-ingredient pull-right pointer" (click)="saveIngredient()" tabindex="0">
                <span class="glyphicon glyphicon-save"></span> Save Ingredient
            </span>
        </div>
        <span class="add-ingredient pull-right pointer" (click)="addIngredient()" *ngIf="!addingIngredient" tabindex="0">
            <span class="glyphicon glyphicon-plus-sign"></span> Add New Ingredient
        </span>
    </fieldset>
</div>
